*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: black;
    color: white;
    margin: 20px 50px;
}
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.container{
    display: flex;
    margin-top: 20px;
    
}
.prod-container{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:100px;
    align-items: center;
    list-style: none;
}
.cart-cont{
    width: 100%;
    display: flex;
    justify-content: center;
    gap:100px;
    align-items: center;
    list-style: none;
}
.cart-cont li {
    height: 200px;
    min-width: 300px;
    background-color: rgb(236, 236, 236);
    padding:20px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    color: rgb(59, 59, 59);   
}
.prod-container li {
    height: 200px;
    min-width: 300px;
    background-color: rgb(110, 108, 108);
    padding:20px;
    border-radius: 15px;
    display: flex;
    position: relative;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    color: black;
}
.prod-container li .add {
    margin: 20px;
    position: absolute;
    bottom:0;
    right: 0;
    transition: all 0.3s ease;
    
}
.prod-container li .add:active {
    transform: scaleY(1.5);
    transform: translateY(-5px);
}   
.prod-container li p {
    color: white;
    bottom: 0;
    margin-left: 10px;
}